body {
    margin-top: 65px;
    font-family:"Roboto Slab" , Garamond , "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
}

/*p {
    font-size: 20px;
}*/

#content {
    margin-bottom: 80px;
}

/*.navbar {
    font-size: 20px;
}*/

.sidebar {
    /*height: 100vh;*/
    /*border-right: 2px dotted gray;*/
    /*padding-top: 15px;*/
}
.main {
    /*padding: 0px 40px;*/
}

/*.container .text-muted {
    margin: 10px 0;
}*/