header.jumbotron {
    /*background: url("../img/p1.jpg");*/
    background-position: center center;
    background-size: cover;
    color: #fff;
    height: 100px;
    padding: 0px;
    margin-bottom: 0px;
    /*display: table-cell;*/
    /*vertical-align: middle;*/

}

/*header.jumbotron h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}*/



.row {
    margin-top: 50px;
    margin-bottom: 50px;
}

.col-md-9.content-area {
    padding-left: 50px;
    /*padding-right: 50px;*/
}