header.jumbotron {
    background: url("../img/main.jpg");
    background-position: center center;
    background-size: cover;
    color: #fff;
    padding-top: 200px;
}

.jumbotron {
    margin-bottom: 0px;
}